  body {
    background-color: #d5d7db;
  }

  hr {
    border-style: dotted;
    height: 20%;
    border-color: red border width:20px;
    width: 10%
  }

  h1,h3 {
    color: blue
  }
  tr,p,li{
    color: green
  }
  tr,p,li {
    font-style: monospace;
  }
